.topbar-card[b-o1u1lmxsrj] {
    border-radius: 0;
    border: 0px;
    border-bottom: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, .125);
    width: 100%;
    position: fixed;
    z-index: 1;
}

.topbar[b-o1u1lmxsrj] {
    height: 62px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.topbar-logo[b-o1u1lmxsrj] {
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topbar-components[b-o1u1lmxsrj] {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@media (max-width: 860px) {
   
}