<div class="ep-leftside border-end">
    <NavLink class="nav-link-edit-profile" ActiveClass="nav-active-edit-profile" href="/accounts/edit/"
        Match="NavLinkMatch.All">
        Editar perfil
    </NavLink>
</div>